In [ ]:
! pip install pandas==1.4.2
import pandas as pd

In [181]:
year = 2021
df = pd.read_csv(f'https://www.registrucentras.lt/aduomenys/?byla=JAR_FA_RODIKLIAI_PLNA_{year}.csv')
df.drop(columns=['stat_pav', 'template_name', 'standard_name', 'template_id', 'standard_id', 'formavimo_data', 'form_pav'], inplace=True)

In [182]:
df.laikotarpis_nuo = pd.to_datetime(df.laikotarpis_nuo)
df.laikotarpis_iki = pd.to_datetime(df.laikotarpis_iki)
df.reg_date = pd.to_datetime(df.reg_date)

In [200]:
uab = df[df['obj_kodas'] == 125483974]
assert len(uab) == 1
uab

,obj_kodas,obj_pav,form_kodas,stat_statusas,laikotarpis_nuo,laikotarpis_iki,reg_date,pelnas_pries_apmokestinima,grynasis_pelnas,pardavimo_pajamos
92929,125483974,DELFI UAB,310,0,2020-01-01,2020-12-31,2021-06-16,1577104.0,1338562.0,10038819.0

In [201]:
no_revenue = df[df.pardavimo_pajamos == 0 | df.pardavimo_pajamos.empty]
no_revenue_percent = len(no_revenue) / len(df)
print(f'Percentage of businesses that had no revenue in {year}: {no_revenue_percent:.2%}')
no_revenue

Percentage of businesses that had no revenue in 2021: 4.38%

,obj_kodas,obj_pav,form_kodas,stat_statusas,laikotarpis_nuo,laikotarpis_iki,reg_date,pelnas_pries_apmokestinima,grynasis_pelnas,pardavimo_pajamos
7,303295078,"UAB ""Strategica""",310,0,2020-01-01,2020-12-31,2021-05-23,0.0,0.0,0.0
12,304952210,"MB ""Šiaurinės idėjos""",960,0,2019-01-01,2019-12-31,2021-12-17,0.0,0.0,0.0
64,304436279,"""Saulius sau"" UAB",310,0,2018-01-01,2018-12-31,2021-08-29,NaN,0.0,0.0
96,305399638,"MB ""Nordiko serviso grupė""",960,0,2020-01-01,2020-12-31,2021-05-28,0.0,0.0,0.0
102,305534559,"UAB ""Sudoma""",310,0,2020-04-07,2020-12-31,2021-02-04,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...
110135,304925213,"MB ""Ajeksa""",960,0,2020-01-01,2020-12-31,2021-07-21,-1082.0,-1082.0,0.0
110149,303093151,Larisos Šilovos MB,960,0,2019-01-01,2019-12-31,2021-07-28,NaN,0.0,0.0
110196,305644710,MB Linen,960,0,2020-10-20,2020-12-31,2021-08-02,-1539.0,-1539.0,0.0
110225,304716459,"UAB ""Katinai""",310,0,2020-01-01,2020-12-31,2021-07-21,0.0,0.0,0.0
110257,303314183,"UAB ""Nordic Service Partner""",310,0,2018-01-01,2018-12-31,2021-03-18,0.0,0.0,0.0

In [203]:
outdated = df[df.laikotarpis_iki < pd.Timestamp(f'{year - 1}')]
outdated_percent = len(outdated) / len(df)
print(f'Percentage of businesses that have outdated have provided outdated (?) data in {year}: {outdated_percent:.2%}')
outdated

Percentage of businesses that have outdated have provided outdated (?) data in 2021: 13.01%

,obj_kodas,obj_pav,form_kodas,stat_statusas,laikotarpis_nuo,laikotarpis_iki,reg_date,pelnas_pries_apmokestinima,grynasis_pelnas,pardavimo_pajamos
12,304952210,"MB ""Šiaurinės idėjos""",960,0,2019-01-01,2019-12-31,2021-12-17,0.0,0.0,0.0
20,302485637,"UAB ""IT integravimo sprendimai""",310,0,2019-01-01,2019-12-31,2021-10-14,227.0,193.0,8615.0
37,304127044,"UAB ""Monada ES""",310,0,2019-01-01,2019-12-31,2021-04-12,NaN,0.0,NaN
43,303370157,"UAB ""Vienas kreditas""",310,0,2017-01-01,2017-12-31,2021-05-25,NaN,0.0,NaN
53,304259640,"MB ""Agrokonsultantas""",960,0,2016-05-23,2016-12-31,2021-04-26,-2.0,-2.0,NaN
...,...,...,...,...,...,...,...,...,...,...
110234,300516450,"UAB ""SAB BALTIC""",310,0,2019-01-01,2019-12-31,2021-09-11,NaN,5186.0,583632.0
110249,302859693,Alenti UAB,310,0,2019-01-01,2019-12-31,2021-09-23,0.0,0.0,NaN
110255,305063598,"UAB ""Stralekna""",310,0,2019-03-07,2019-12-31,2021-02-15,NaN,19654.0,238888.0
110257,303314183,"UAB ""Nordic Service Partner""",310,0,2018-01-01,2018-12-31,2021-03-18,0.0,0.0,0.0
110263,301852742,"UAB ""Leteka""",310,10,2019-01-01,2019-12-31,2021-03-09,-378436.0,-378436.0,NaN